*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{list-style-type: none;}
a{text-decoration: none;}

/* 변수설정 */
:root{
  --color-1: rgb(73, 115, 241);
  --color-1-hover: #1306a5;
  --color-2: #b721ff;
  --color-2-hover: #6110c9;
  --text-color: #312e81;
  --status-btn-bg: #e8e8e8;
  --status-btn-hover: #f1f5f9;
}

body{
  background-color: #21D4FD;
  background-image: linear-gradient(to right, var(--color-1), var(--color-2));
}
.hidden{display: none;}
.container{
  max-width: 500px;
  width: 90%;
  margin: 10rem auto;
  background-color: #fff;
  border-radius: 16px;
  padding: 32px;
}

/* 단계버튼 */
.tab-status{
  display: flex;
  align-items: center;
  gap: 10px;
}
.tab-status span{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--status-btn-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.tab-status span.active{
  background-color: #000;
  color: #fff;
  font-weight: bold;
}
.tabpanel h3{margin: 10px 0;}

/* 입력창 */
.form-input{
  width: 100%;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  padding: 16px;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}
.form-input::placeholder{color: #cbd5e1;}
.form-input:focus{
  outline: none;
  box-shadow: #f8fafc 0 0 0 2px, #c7d2fe 0 0 0 6px, #000 0 1px 2px;
  border-color: var(--color-1);
}
textarea.form-input{min-height: 200px;}

/* 이전다음전송버튼 */
.pagination{
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.btn{
  width: 100%;
  border: 0; 
  background: var(--color-1);
  padding: 16px;
  color: #fff;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
}
.btn:hover{background: var(--color-1-hover);}
.btn-submit{background: var(--color-2);}
.btn-submit:hover{background: var(--color-2-hover);}

.btn[disabled]{  /* 버튼 비활성화 */
  opacity: 0.5;
  pointer-events: none; /* 클릭을 못하도록함 */
}