.container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
  width: 50%;
  align-items: center;
}

input {
  text-align: center;
}

button {
  width: 100%;
  background-color: royalblue;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.result {
  color: red;
  font-weight: bold;
  font-size: 20px;
}
